<p><a href="/products">Назад до товарів</a></p>

<article class="product">
                        <img class="product__image" src="{{product.image}}" alt="{{product.name}}" />
                        <h2 class="product__name">
                            {{product.name}}
                        </h2>
                        <p class="product__price">
                            Price:
                            {{product.price}}
                            credits
                        </p>
                        <button
                            type="button"
                            class="button product__button"
                            aria-label="Add to cart"
                        >
                            В корзину
                        </button>
                    </article>